.Home-container {
  text-align: center;
  background-color: #606060;
  font-family: 'Inconsolata';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d6ed17;
}

.Home-container .search-container .search-bar {
  margin-bottom: 25px;
}

.Home-header h1 {
  margin-bottom: 16px;
}

.card-small {
  margin: 75px 75px 75px 75px;
  max-width: 312px;
  max-height: 231px
}

.card-image img {
  max-width: 312px;
  max-height: 231px
}

.recipe-cards {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  justify-content: center;
  justify-items: center;
}

.user-input h4{
  margin: auto;
}

.page-link {
  color: #D85A7FFF;
}

.nav { 
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background: #d6ed17;
  margin-top: 0;
}

.page-link {
  padding: 14px 18px;
}

.page-link a {
  margin-right: 10px;
}

/* colors */
/* linen (off-white) #EAE2D6 */
/* Oyster #D5C3AA */
/* Pewter (light brown) #867888 */
/* Lemon Tea #E1B80D */

/* Grey  616161 */
/* Yellow  D6ED17*/
/* white ffffff */


